html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sansSerif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  transition: all 0.3s linear;
  box-sizing: border-box;
}

